<!DOCTYPE html>
<html ng-app="countryApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TopicB</title>

    <link href="css/flexslider.css" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/jquery.backstretch.min.js"></script>-->
    <link href="pp/prettiffy.css" rel="stylesheet">
    <script src="pp/prettify.js"></script>
    <script src="js/touchSwipe.js"></script>
    <script src="js/jquery.scrollto.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.flexslider.min.js"></script>
    <script src="js/designr.js"></script>
    <script src="js/jquery.watermark.js"></script>
    <script src="js/common.js"></script>
    <link href="css/global.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/idangerous.swiper.css">
    <script defer src="js/idangerous.swiper.js"></script>
    <script>

        console.log("hello");
    
        var countryApp = angular.module('countryApp', [], function($locationProvider) {
      $locationProvider.html5Mode(true);
    });






        countryApp.controller('CountryCtrl', function ($scope,$location){

        $scope.numbers = [
    {
        "number" : "20600000001",
        "topics" : [
        {
            "topic" : "housing",
            "status" : "active"
        },
        {
            "topic" : "furniture",
            "status" : "available"
        },
        {
            "topic" : "Game of Thrones",
            "status" : "available"
        }
        ],
        "mood" : "\"I'm looking for a gaming desk\""
    },
    {
            "number" : "20600000002",
            "topics" : [
            {
                "topic" : "roomate",
                "status" : "available"
            },
            {
                "topic" : "Mariners",
                "status" : "waiting"
            },
            {
                "topic" : "Ichiro",
                "status" : "available"
            },
            {
                "topic" : "Seattle",
                "status" : "available"
            },
            {
                "topic" : "Food Trucks",
                "status" : "available"
            },
            {
                "topic" : "Profitability",
                "status" : "available"
            },
            {
                "topic" : "Exit Strategy",
                "status" : "available"
            },
            {
                "topic" : "Start Ups",
                "status" : "available"
            },
            {
                "topic" : "Bootstrapping",
                "status" : "available"
            },
            {
                "topic" : "Runway",
                "status" : "available"
            },
            {
                "topic" : "VC",
                "status" : "available"
            }
            ],
            "mood" : "\"Go Mariners!\""
    },
    {
            "number" : "20600000003",
            "topics" : [
            {
                "topic" : "Dark Souls 2",
                "status" : "active"
            }
            ],
            "mood" : "\"Dark Souls 2 improved!\""
    },
    {
            "number" : "20600000004",
            "topics" : [
            {
                "topic" : "MBA",
                "status" : "available"
            },
            {
                "topic" : "informations",
                "status" : "available"
            },
            {
                "topic" : "Business Management",
                "status" : "available"
            }
            ],
            "mood" : "\"Looking for Summer intership\""  
    },
    {
            "number" : "20600000005",
            "topics" : [
            {
                "topic" : "COC",
                "status" : "active"
            },
            {
                "topic" : "running",
                "status" : "waiting"
            }
            ],
            "mood" : "\":)\""
    },
    {
            "number" : "20600000006",
            "topics" : [
            {
                "topic" : "UCLA",
                "status" : "active"
            },
            {
                "topic" : "X-Men",
                "status" : "available"
            }
            ],
            "mood" : "\"I'm looking for a gaming desk\""
    }

];

//$scope.hotlist = [{"label":"Ichiro"},{"label":"Seattle"},{"label":"available column"},{"label":"Hisashi Iwakuma"}];

$scope.hotlist = [{"label":"Ichiro"},{"label":"Seattle"},{"label":"available column"},{"label":"Hisashi Iwakuma"},{"label":"Bobble Head"},{"label":"Jiman Choi"},{"label":"Infielders"},{"label":"Top 20 Prospects"},{"label":"Bobble Head"},{"label":"vs Athletics"},{"label":"Cano"},{"label":"Jones"},{"label":"Montero"},{"label":"Seager"},{"label":"Saunders"},{"label":"Bloomquist"}];

//$scope.hotlist = [{"label":"Ichiro"},{"label":"Seattle"},{"label":"available column"},{"label":"Hisashi Iwakuma"},{"label":"Bobble Head"},{"label":"Jiman Choi"},{"label":"Infielders"},{"label":"Top 20 Prospects"},{"label":"Bobble Head"},{"label":"vs Athletics"},{"label":"Cano"},{"label":"Jones"},{"label":"Montero"},{"label":"Seager"},{"label":"Saunders"},{"label":"Bloomquist"},{"label":"Chavez"},{"label":"Gillepsie"},{"label":"Ackley"},{"label":"Morrison"},{"label":"Buck"},{"label":"Zunino"},{"label":"Smoak"},{"label":"Miller"},{"label":"Almonte"},{"label":"Romero"},{"label":"Franklin"},{"label":"Elias"},{"label":"Hernandez"},{"label":"Iwakuma"},{"label":"Maurer"},{"label":"Ramirez"},{"label":"Sucre"},{"label":"Young"},{"label":"Beimel"}];

$scope.topic_distance=0;
$scope.scrollImages= function(distance, duration) {
    $scope.$apply();
    if($scope.topic_distance>200){
        //console.log("shifting");
        $scope.topicShift();
        $scope.topic_distance=0;
    }else if($scope.topic_distance<1){
        $("#imgs2").css("transition-duration", 0 + "s");
        //inverse the number we set in the css
        var value = (distance < 0 ? "" : "-") + Math.abs(distance).toString();
        $("#imgs2").css("transform", "translate(" + value + "px,0)");
        $scope.topic_distance++;
    }else{
        $("#imgs2").css("transition-duration", (duration / 1000).toFixed(1) + "s");
        //inverse the number we set in the css
        var value = (distance < 0 ? "" : "-") + Math.abs(distance).toString();
        $("#imgs2").css("transform", "translate(" + value + "px,0)");
        $scope.topic_distance++;
    }
}

setInterval(function(){$scope.scrollImages($scope.topic_distance, 25)},5);

$scope.topicShift = function($myEvent){  
    var temp = $scope.hotlist.shift();
    $scope.hotlist.push(temp);
}

$scope.topicAdd = function($myEvent){  
    //add functionailty for adding topics to the list
}

$scope.arrayObjectIndexOf=function(arr, obj){
    for(var i = 0; i < arr.length; i++){
        if(angular.equals(arr[i], obj)){
            return i;
        }
    };
    return -1;
}

$scope.scrollLeft=function(topicRow){

    var temp = $scope.numbers[topicRow].topics.shift();
    $scope.numbers[topicRow].topics.push(temp);

}

$scope.scrollRight=function(topicRow){

    var temp = $scope.numbers[topicRow].topics.pop();
    $scope.numbers[topicRow].topics.unshift(temp);

}


    //$scope.target = $location.search()['topic'];

//$scope.routeParams = {topic:'look'}

//console.log("$scope.routeParams"+$scope.routeParams.topic);


//$scope.myTopic = 'look';

//$scope.both = sharedProperties.getProperty() + $scope.myTopic;
console.log("$location.search()['topic'];= "+$location.search()['topic']);
console.log("$scope.myTopic= "+$scope.myTopic);
$scope.myTopic = $location.search()['topic'];

});


countryApp.controller('QueryCntl', function ($scope,$location,sharedProperties){
    console.log("$location.search()['topic'];= "+$location.search()['topic']);
    $scope.target = $location.search()['topic'];
    $scope.myTopic = $scope.target;

    $scope.both = sharedProperties.setProperty() + $scope.myTopic;

  

});

countryApp.service('sharedProperties', function () {
        var property = 'First';

        return {
            getProperty: function () {
                return property;
            },
            setProperty: function(value) {
                property = value;
            }
        };
    });

function Ctrl2($scope, sharedProperties) {
    $scope.prop2 = "Second";
    $scope.both = sharedProperties.getProperty() + $scope.prop2;
}

/*
    function QueryCntl($scope, $location) {
      $scope.target = $location.search()['topic'];
      //$scope.myTopic = $location.search()['topic'];
    }*/

</script>
<script>
    $(".row_topic").each(function(){
        // Bind the swipeHandler callback function to the swipe event on div.box
        $(this).on("swipe",swipeHandler);

        // Callback function references the event target and adds the 'swipe' class to it
        function swipeHandler(event){
            //$( event.target ).addClass( "swipe" );
            $.event.special.swipe.start;
        };
    });
</script>
<script id='code_1'>
    var IMG_WIDTH = 180;
    var currentImg = 0;
    var maxImages = 10;
    var speed = 500;

    var imgs;

    var swipeOptions = {
        triggerOnTouchEnd: true,
        swipeStatus: swipeStatus,
        allowPageScroll: "vertical",
        threshold: 75
    };
/*
        $("ul.row_topic").each(function () {
            //imgs = $("#imgs");
            //imgs = $(this);
            $(this).swipe(swipeOptions);
        });
*/

    /**
     * Catch each phase of the swipe.
     * move : we drag the div
     * cancel : we animate back to where we were
     * end : we animate to the next image
     */
    function swipeStatus(event, phase, direction, distance) {
        //If we are moving before swipe, and we are going L or R in X mode, or U or D in Y mode then drag.
        if (phase == "move" && (direction == "left" || direction == "right")) {
            var duration = 0;

            if (direction == "left") {
                scrollImages((IMG_WIDTH * currentImg) + distance, duration);
            } else if (direction == "right") {
                scrollImages((IMG_WIDTH * currentImg) - distance, duration);
            }

        } else if (phase == "cancel") {
            scrollImages(IMG_WIDTH * currentImg, speed);
        } else if (phase == "end") {
            if (direction == "right") {
                previousImage();
            } else if (direction == "left") {
                nextImage();
            }
        }
    }

    function previousImage() {
        currentImg = Math.max(currentImg - 1, 0);
        scrollImages(IMG_WIDTH * currentImg, speed);
    }

    function nextImage() {
        currentImg = Math.min(currentImg + 1, maxImages - 1);
        scrollImages(IMG_WIDTH * currentImg, speed);
        
    }

    /**
     * Manually update the position of the imgs on drag
     */
    function scrollImages(distance, duration) {
        imgs.css("transition-duration", (duration / 1000).toFixed(1) + "s");

        //inverse the number we set in the css
        var value = (distance < 0 ? "" : "-") + Math.abs(distance).toString();
        imgs.css("transform", "translate(" + value + "px,0)");
    }

    $( document ).ready(function() {
        //setInterval(function(){nextImage()},2000);
        $(".ui-loader ").css("display","none");
        $('#input_search').watermark('Search');
        $('#topic1').watermark('Enter Your Topic (required)');
        $('#topic2').watermark('Enter Another Topic');
        $('#topic3').watermark('Enter Another Topic');



    });

    function openPad(){
        $("#pad").toggle();
        //$('#phonepad').scrollTop(100);
    }

    function openTopics(){
        if($("#contentTopics").css("height")=="69px"){
            $("#contentTopics").css("height","400px").css("overflow","visible");
            $("#labelOpen").css("display","none");
            $("#labelClose").css("display","block");
        }else{
            $("#contentTopics").css("height","69px").css("overflow","hidden");
            $("#labelOpen").css("display","block");
            $("#labelClose").css("display","none");
        }
    }


</script>
</head>

  <body ng-controller="CountryCtrl" ng-init="myVar='test'">


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scrollto" href="#home"><img src="images/logo_50.jpg" alt="TopicB" /></a>
        </div>
        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a class="scrollto" href="#phonepad" id="nav_connect">Connect</a></li>
            <li><a class="scrollto" href="#content">Your Topics</a></li>
            <li><a class="scrollto" href="#hottopics">Hot Topics</a></li>
            <li><a class="scrollto" href="#categories">Categories</a></li>
            <li><a class="scrollto" href="#communicator">Communicator</a></li>
            <li><a class="scrollto" href="#HowToUse">How To Use</a></li>
            <i style="color:#e6881e;float:left;margin:15px 0 0 10px;" class="fa fa-search"  ></i><li class="" style="color:#666666;margin-left:5px;"><input id="input_search" class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" type="text" style="color:#666666;margin-top:7px;"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" id="home">

      <div class="starter-template">
        <h2>Connect to Share Expert Information</h2>
        <!--<p class="lead">Start using TopicB right now to get the information that you want.</p>-->
        <div style="text-align:center;margin:0px auto;width:100%;">

            <form class="form-inline">

                <div class="form-group">
                    <input id="topic1" type="text" style="width:220px;margin-right:10px;color:#666666;" />
                </div>
                <div class="form-group">
                    <input id="topic2" type="text" style="width:220px;margin-right:10px;" />
                </div>
                <div class="form-group">
                    <input id="topic3" type="text" style="width:220px;margin-right:10px;" />
                </div>
                <div class="form-group">
                    <img src="images/go_search.jpg" style="cursor:pointer;" />
                </div>

            </form>


        </div>

      </div>

    </div>


<!-- hot topics -->
<div>
    <ul id="hottopics"><!-- $('#hottopics').scope().numbers; -->
        <li class="row" style="transition-duration: 0.5s; transform: translate(0px, 0px);background:#1693bf;border-top:solid 1px #666666;border-bottom:solid 1px #666666;margin:0px 0px 10px 0px;padding-left:10px;">

          <div class="number" style="color:#F9F2E7;margin-top:-2px;">
            <i class="fa fa-fire" style="color:#F9F2E7"></i> HotTopics
          </div>
          <div style="clear:both;"></div>

          <ul class="row_hot" id="imgs2" style="background:none;">
            <li ng-repeat="hotitem in hotlist|limitTo:10">

              <div class="number" style="width:200px;border:1px solid #000000;background:#ffffff;padding:2px 5px;">
                {{hotitem.label}}
              </div>
       
            </li>
          </ul>

        </li>
    </ul>
</div>
<div style="clear:both;"></div>

<div id="contentTopics" class="topics" style="height:69px;overflow:hidden;">

    <ul id="content">
        <li id="imgs" ng-repeat="whatever in numbers|filter:myTopic track by $index" class="row">

            <div class="number">
                {{whatever.number}} <span class="mood">{{whatever.mood}}</span>
            </div>
            <div style="clear:both;"></div>

            <ul data-ng-show="whatever" class="row_topic" id="num{{whatever.number}}">
                <li ng-repeat="topics in whatever.topics|limitTo:10 track by $index" class="column" ng-class="{'waiting':'{{topics.status}}' == 'waiting', 'active':'{{topics.status}}' == 'active', 'available':'{{topics.status}}' == 'available'}">
                  {{topics.topic}}
                </li>
            </ul>

            <div class="leftArrow">
                <img src="images/arrow_left.png" style="position:relative;top:-62px;cursor:pointer;width:25px;height:29px;
}" ng-click="scrollRight($index)" />
            </div>
            <div class="rightArrow">
                <img src="images/arrow_right.png" style="position:relative;top:-62px;cursor:pointer;width:25px;height:29px;" ng-click="scrollLeft($index)" />
            </div>
            <div style="clear:both;"></div>

        </li>
    </ul>

</div>
<!-- $(this).parent().parent('.row_topic').css('margin-left','0px') -->
<div style="text-align:center;cursor:pointer;" onclick="openTopics()">
  <h2 id="labelOpen"><i class="fa fa-chevron-circle-down" style="color:#e6881e"></i> more topics <i class="fa fa-chevron-circle-down" style="color:#e6881e"></i></h2>
  <h2 id="labelClose" style="display:none;"><i class="fa fa-chevron-circle-up" style="color:#e6881e"></i> less topics <i class="fa fa-chevron-circle-up" style="color:#e6881e"></i></h2>
</div>
<!--
    <section id="phonepad" style="background:#ffffff;margin:10px auto;text-align:center;">

        <div class="container" onclick="openPad()" style="text-align:center;">

            <div style="background:url(images/bg_button.jpg) repeat-x;cursor:pointer;"><h1 style="color:#ffffff;">Connect to a Number</h1></div>

        </div>
        <div id="pad" class="container" style="display:none;">

            <img src="images/phone.jpg" style="width:100%;" />

        </div>

    </section> 
-->
    <section id="ad" class="navbar-fixed-bottom" style="background:#ffffff;max-height:100px;">

        <div class="container">

            <img src="images/ad.jpg" style="width:100%;" />

        </div><!--End container -->

    </section>  

    <section id="categories" style="background:#ffffff;padding:50px;margin-top:100px;">

        <div class="container">

            <div class="scrollimation fade-left" >
                <h2>Categories</h2>

                <h3>
                    This section will list all of the categories.
                </h3>
            
            </div>

        </div><!--End container -->

    </section>

    <section id="communicator" style="background:#ffffff;padding:50px;margin-top:100px;height:400px;">

        <div class="container">

            <div class="scrollimation fade-left" >
                <h2>Get the App</h2>

                <h3>
                    This section will link to the Communicator.
                </h3>
            
            </div>

        </div><!--End container -->

    </section>

    <section id="HowToUse" style="background:#ffffff;padding:50px;margin-top:100px;height:400px;">

        <div class="container">

            <div class="scrollimation fade-left" >
                <h2>How To Use</h2>

                <h3>
                    This section will explain how to use TopicB in connecting with people on a particular subject that you would like to discuss.
                </h3>
            
            </div>

        </div><!--End container -->

    </section>


    <section id="getCode" style="background:#ffffff;padding:50px;margin-top:100px;height:400px;">

        <div class="container">

            <div class="scrollimation fade-left" >
                <h2>Put TopicB on Your Site</h2>

                <h3>
                    This section will show how to put TopicB on a site.
                </h3>
                <div ng-controller="QueryCntl">
    Target: {{target}}<br/>
</div>
            
            </div>

        </div><!--End container -->

    </section>

  </body>
</html>
